.header{
    display: flex;
    color: darkslategrey;
    justify-content: space-between; 
    border: 1px solid rgb(162, 146, 146);
}
#img{
    width: 100px;
}

.nav-items >ul{
    font-size: 15px;
    display: flex;
    list-style-type: none;
}
.nav-items > ul >li {
    margin: 10px;
    padding: 10px;
}
.body{
    border: 1px solid brown;
    padding: 10px;
}
.search{
    padding: 10px;
}
.res-container{
    padding: 10px;
    height:auto;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}
.res-logo{
    width: 180px;
    margin: 5px;
    padding: 1%;
}
.res-card{
    width: 200px;
    height:auto;
    padding: 5px;   
    background-color:lightgray;
    margin: 2px;
    word-wrap:break-word;
}
.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}
.btn{
    margin: 5px;
    border: 1px solid black;
    padding: 5px;
}
.btn:hover{
    cursor: pointer;
    background-color:cadetblue;
    margin: 5px;
}